body {
    background-color: lightblue;
    width: 90%;
    margin: 2em;
}

h1, h2, h3, h4, h5, h6 {
    color:darkblue;
    font-family: Arial;
    font-weight: bolder;
}

p {
    color:black;
    text-align: justify;
    letter-spacing: 1px;
    font-family: Helvetica;
    font-weight: 200;
    line-height: normal;
}

.textotabla{
    text-align: center;
}

.enlaceIndex {
    width: 50px;
}

.enlaceTxt {
    background-color: blue;
    color: white;
    padding: 14px 25px;
    font-family: Arial;
    text-align: center;
    text-decoration: none;
    cursor:pointer;
}

.enlaceTxt:hover, .enlaceTxt:active {
    background-color: white;
    color: blue;
  }

  .enlaceMenu {
    background-color:white;
    color: black;
    padding: 14px 25px;
    font-family: Helvetica;
    text-align: center;
    text-decoration: none;
    cursor:pointer;

}

.enlaceMenu:hover, .enlaceMenu:active {
    background-color: white;
    color: cornflowerblue;;
  }

.enlaceMenu:visited {
    background-color:cadetblue;
    color: blue;
}

#listaindex{
    list-style-type: none;
    display: inline;
}

table {
    border-collapse: collapse;
    border: 1px solid;
  }

input[type=text] {
    border: none;
    background-color: lightblue;
    margin-left: 20px;
    border-bottom: 2px solid blueviolet;
    display:block;
  }

  textarea:focus {
    background-color: blue;
  }

  fieldset{
    border:none;
  }

#indexCol1 {
    position:absolute;
    top:120px;
    left:20px;
    width:400px;
}

#indexCol2 { 
    margin-left:420px;
}